# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

r20_sdk/frameworks/

r21_sdk/frameworks/

r21_sdk/plugins/maxonsdk.module/

r21_sdk/plugins/microsdk/

r20_sdk/plugins/maxonsdk.module/

r20_sdk/plugins/microsdk/

r21_sdk/plugins/project/_obj/

r20_sdk/plugins/project/_obj/

r20_sdk/plugins/cinema4dsdk/generated/

*.pdb

*.ilk

r21_sdk/plugins/cinema4dsdk/run.bat

r21_sdk/plugins/cinema4dsdk/generated/

r21_sdk/plugins/project/.vs/

r20_sdk/plugins/project/.vs/

*.bat
