//---Architectures---
ARCHS = x86_64 arm64
ONLY_ACTIVE_ARCH = YES
SDKROOT = macosx

//---Build Locations---
SYMROOT = $(MAXON_ROOTDIR)build

//---Build Options---
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_BITCODE = NO
ENABLE_TESTABILITY = NO

//---Code Signing---
//CODE_SIGN_IDENTITY = $(MAXON_CODE_SIGN_IDENTITY)

//---Deployment---
MACOSX_DEPLOYMENT_TARGET = 10.13
MACOSX_DEPLOYMENT_TARGET[arch=arm64] = 10.16
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
DSTROOT = .

//---Linking---
DEAD_CODE_STRIPPING = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
DYLIB_INSTALL_NAME_BASE = /R24
LD_DYLIB_INSTALL_NAME = $(DYLIB_INSTALL_NAME_BASE:standardizepath)/$(EXECUTABLE_PATH)	// dlopen identifies libs using this install name. Therefore it has to be different for major releases, otherwise the OS caching will return the wrong library depending on load order if multiple version are present.

//---Search Paths---
ALWAYS_SEARCH_USER_PATHS = NO
USER_HEADER_SEARCH_PATHS = $(MAXON_ROOTDIR)resource $(MAXON_ROOTDIR)resource/descriptions/res $(MAXON_ROOTDIR)resource/gui_internal

//---Code Generation---
//---Language---
#include "compiler"

//---Preprocessing---
GCC_PREPROCESSOR_DEFINITIONS[arch=x86_64] = _DEBUG __MAC __64BIT MAXON_TARGET_DEBUG MAXON_TARGET_MACOS MAXON_TARGET_OSX MAXON_TARGET_64BIT
GCC_PREPROCESSOR_DEFINITIONS[arch=arm64] = _DEBUG __MAC __64BIT MAXON_TARGET_DEBUG MAXON_TARGET_MACOS MAXON_TARGET_OSX MAXON_TARGET_64BIT

//---Base CFLAGS---
BASE_WARNING_CFLAGS = -Werror -Wno-error=unused-variable -Wno-error=unreachable-code -Wno-error=unused-function

//---Warnings---
#include "warnings"
